<% content_for :head do %>
  <title>お問い合わせフォーム</title>
<% end %>

<div class="mx-auto flex justify-center">
  <iframe src="https://forms.gle/DPiiTRweBEHCuX6e9" width="640" height="1025" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>
