<nav style="background-color: #D0B8A8; color: white; height: 60px;">
  <% if current_user %>
    <%= current_user.username %>
  <% else %>
  ゲスト
  <%= link_to '【Login】', login_path %>
  <%= link_to "【Sign_up】", sign_up_path %>
  <% end %>
  
  <%= link_to '【Home】', root_path %>
</nav>
