<nav style="background-color: #D1D5DB; color: white; height: 60px;">
  <% if current_user %>
    <%= session[:username] %>
  <% else %>
    TOP
  <%= link_to '【Login】', login_path %>
  <%= link_to "【Sign_up】", sign_up_path %>
  <% end %>

</nav>
