<nav style="background-color: #D0B8A8; color: white; height: 60px;">
  <% if current_user %>
    <%= link_to "【#{current_user.username}】", root_path %>
    <%= link_to '【Logout】', logout_path, data: { turbo_method: :delete } %>
  <% else %>
    ゲスト
    <%= link_to '【Login】', login_path %>
    <%= link_to "【Sign_up】", sign_up_path %>
  <% end %>
</nav>
